h1{
    color:white;
    background-color: black;
    margin: 0;

}

p{
    color:white;
    background-color: black;
    margin: ;
}

body{
    margin: 0;
    background-color: black;
}
li{
    color: white;
}
img{
    width: 700px;
}
h2{
    color: white;
}
